@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html{
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


p{
    font-size: 0.9em;
    font-weight:500;
    line-height: 1.6;
}
i{ color:#16c9f6 ;}
li{list-style: none;}

/* ************header********* */
.header {
  width: 100%;
  height: 100vh;
  /* background: url(../images/header-bgg.jpg); */
  /* background: linear-gradient( 109.6deg,  rgba(33,25,180,1) 11.2%, rgba(253,29,29,1) 55.2%, rgba(252,176,69,1) 91.1% ); */
  /* background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative; */
}

.navbar-toggler {
    position: relative;
    z-index: 1000;
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff !important;
    /* background-color: #fff !important; */
}

.nav-item a, .navbar-brand {
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 1000;
    transition: 0.2s;
}
.nav-item a:hover {
    transform: translateY(-3px);
    color: #fff;
}

.header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.center-div {
    position: relative;
    z-index: 10;
}

.center-div h1{
    text-align: center;
    margin: 8px;
    padding-bottom: 10px;
    font-size: 4.5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.center-div p {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
    line-height: 1em;
    text-transform: uppercase;
}

.header-button a{
    /* color:#16c9f6 ;
    background-color: white;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0 10px; */
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin: 7px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.header-button a:hover{
    /* background-color: #16c9f6;
    text-decoration: none; */
    letter-spacing: 6px;
    text-decoration: none;
}
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
}
.column{
    background: #fff;
    border: medium none;
    border-radius: 3px;
    padding: 0.8em;
    margin:3em 0 ;
    transition: 0.3s;
    text-align: center;

}
.column:hover{
    box-shadow: 5px 5px 20px 0 rgb(0, 0, 0,0.3);
    transform: translateY(-15px);
}
/* ************section-2********** */
.section-2{
    background-color:#f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.heading{
    margin-bottom: 50px;
}
.heading h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.row h2{
    color: #2e2e2e;
    font-size: 0.9rem;
    font-weight: bold;

}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ************section-4********** */

.section-4{
    width: 100%;
    height: 100vh;
    position: relative;
}
.section-4{
    background: linear-gradient(160deg,#16c9f6 55%,#fff 0%);
}
.section-4 h1{
    padding-top: 1.5em;
}
.money{
    font-size: 40px;
    color: #606060;
}
.card{
    transition: .3s ease;
    width: 18em;
    border-radius: 10px;
}

.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: white;
}

.card-body{
    padding: 40px 0;
    
}
.card-body li{
    margin:10px 0;
    font-size: 15px;
    font-weight: bold;
}
.card-footer{
    background: white;
    margin: 15px 0;

}
.card:hover .card-footer a{
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;   
}
.card-footer a:hover{
    color:white;
    background:#2fccd0;
    text-decoration: none;
    box-shadow:0 0 20px 0 rgb(0,0,0,0.3) ;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow:0 0 20px 0 rgb(0,0,0,0.3) ;
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}


/* ************section-5********** */

.section-5{
    width: 100%;
    height: 100vh;
    padding: 60px 0;

}
.box{
    text-align: center;
    border: 1px solid rgb(0, 0, 0,0.3);
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0,0.3);
    border-radius: 2px;
    transition: 0.3 ease;
}
.box:hover{
    background: #16c9f6;
}
.box:hover p{
    color: white;
}
.box a{
    position: relative;
}

.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important
}
.carousel-indicators li{
    background-color: #16c9f6 !important;
}
.box h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}
.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}

/* ************section-6********** */
.section-6{
    width: 100%;
    background-color:#f7f7f9;
}
.section-6 h1{
    padding-top: 50px;
    font-size: 2em;
}
.section-6 button{
    margin-bottom: 30px;
}

.section-7{
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.input-group-text{
    color: white;
    background-color:  #16c9f6 !important
}

/* ************footer********** */

footer {
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    padding: 1em;
  }
  

  footer input {
    border: none !important;
  }
  
  footer input::placeholder {
    color: white !important;
  }
  
  footer .input-group .input-group-text {
    background: rgba(0, 0, 0, 0.8);
    border: none;
  }
  
  footer .column i {
    color:#16c9f6;    
    padding: 0.2em;
  }

  /* ************scroll button********** */

  #myBtn{
      position: fixed;
      bottom: 20px;
      right: 40px;
      border: none;
      padding: 10px;
      border-radius: 10px;
      color: white;
      background:#16c9f6 ;
      cursor: pointer;
  }

 
 