@media(max-width:768px){
    /* .center-div{
        top: 30%;
    } */

    .center-div h1{
        font-size: 2.5em;
    }
    
    .center-div p {
        font-size: 1.2em;
    }

    .nav-item{
        text-align: center;
    }

    .section-2 h2{
        margin-top: 30px;
    }
    .card{
        width: 14em;
    }
    .section-5{
        height: auto;
    }

}
@media(max-width:425px){
    .center-div h1{
        font-size: 2.7em;
    }
    
    .center-div p {
        font-size: 1.1em;
    }
    .section-3 h1.count{
        font-size: 25px;
    }
    .section-2{
        margin-left: 20px;
    }

    .section-3 p{
        font-size: 12px;
    }
    .card{
        width: 18em;
        margin-left: 2.5em;

    }
    .section-4{
        height: auto;
    }
    .card-second{
        margin:30px 0;
    }
   

}
@media(max-width:320px){
    .card{
        margin-left:-5px;
    }
}
